<!DOCTYPE html>
<html>
  
  <head>

    <style>
      @font-face {
          font-family: Roboto;
          src:url("../fonts/Roboto_Mono/static/RobotoMono-Regular.ttf");
      }
      <%- style %>
    </style>

  </head>
  <body>
    <div class="row">

      <div id="profile" class="col">
        <h3><%= profile.name %></h3>
        <h3><%= profile.title %></h3>
        <br><br>
        <% profile.address.forEach(line => { %>
          <%= line %><br>
        <% }) %>
        <%= profile.piva %>   
      </div>

      <div class="col">
        <b>Rechnung nr.: </b> <%= invoice.code %><br> 
        <b>Datum: </b> <%= invoice.date %><br> 
      </div>

    </div>

    <div id="service-container">
      <table id="service-table">
        <thead>
          <tr>
            <th>Auftragsnr.</th>
            <th></th>
            <th>Anzahl</th>
            <th>Preis</th>
            <th>Gesamtpreis</th>
          </tr>
        </thead>
        <tbody>
          <% services.forEach(({ name, quantity, price, totalAmount, type }) => { %>
  
            <tr>
              <td><%= name %></td>
              <td><%= type %></td>
              <td><%= quantity %></td>
              <td><%= price %></td>
              <td class="text-right"><%= totalAmount %></td>
            </tr>
  
          <% }) %>
            <tr class="no-border-row">
              <td></td><td></td><td></td>
              <td>Summe</td>
              <td class="text-right"><%= invoice.totalAmount %></td>
            </tr>
          <% if (options.displayEur) { %>
            <tr class="no-border-row">
              <td></td><td></td><td></td><td></td>
              <td class="text-right"><%= invoice.totalAmountEur %></td>
            </tr>
          <% } %>
        </tbody>
      </table>
    </div>

    <div class="row" id="invoice-details">
      <div class="col">
        <%= profile.billing.name %><br>
        <%= profile.billing.bank %><br>
        <%= profile.billing.iban %><br>
        <%= profile.billing.bic %><br>
      </div>

      <div class="col">
        <%= client.name  %><br>
        <%= client.holder %><br>
        <%= client.address %><br>
        <%= client.zipcode %>, <%= client.city %>, <%= client.state %><br>
        <%= client.piva %><br>
      </div>
    </div>
    
  </body>

</html>