<!DOCTYPE html>
<html>
  
  <head>

    <style>
      <%- style %>
    </style>

  </head>
  <body>

    <div class="row">

      <div class="col">
        <img src="data:image/jpeg;base64,<%- base64logo %>" style="width: 100px"/>
      </div>

      <div id="profile" class="col text-right">
        <h3><%= profile.name %></h3>
        <h3><%= profile.title %></h3>
        <% profile.address.forEach(line => { %>
          <%= line %><br>
        <% }) %>
        <%= profile.piva %><br>
        <%= profile.website %> 
      </div>

    </div>

    <p style="padding-left: 20px">Genua, <%= invoice.date %></p>

    <h2 class="text-center"><b>Rechnung <%= invoice.code %></b></h2>

    <div class="row" id="invoice-details">
      <div class="col" style="padding-top: 40px;">
        <b>Kontodaten:</b><br>
        <%= billing.name %><br>
        <%= billing.bank %><br>
        <%= billing.iban %><br>
        <%= billing.bic %><br>
      </div>
      
      <div class="col" style="padding-left: 200px;">
        <b>An:</b><br>
        <% if (client.name) { %>
          <%= client.name  %><br>
        <% } %>
        <% if (client.holder) { %>
          <%= client.holder %><br>
        <% } %>
        <%= client.address %><br>
        <%= client.zipcode %>, <%= client.city %>, <%= client.state %><br>
        <%= client.piva %><br>
      </div>
    </div>

    <div id="service-container">
      <table id="service-table">
        <thead>
          <tr>
            <th width="45%">Auftragsnr.</th>
            <th></th>
            <th>Anzahl</th>
            <th>Preis</th>
            <th>Gesamtpreis</th>
          </tr>
        </thead>
        <tbody>
          <% services.forEach(({ name, quantity, price, totalAmount, type, typeTrans }) => { %>
  
            <tr>
              <td><%= name %></td>
              <td><%= typeTrans %></td>
              <td><%= quantity %></td>
              <td><%= price %>
                <% if (options.sidenote && type == "line") { %>
                  <span class="highlight">*</span>
                <% } %>
              </td>
              <td class="text-right"><%= totalAmount %></td>
            </tr>
  
          <% }) %>
            <tr class="no-border-row">
              <td></td><td></td><td></td>
              <td>Summe</td>
              <td class="text-right"><%= invoice.totalAmount %></td>
            </tr>
          <% if (options.displayEur) { %>
            <tr class="no-border-row">
              <td></td><td></td><td></td><td></td>
              <td class="text-right"><%= invoice.totalAmountEur %></td>
            </tr>
          <% } %>
        </tbody>
      </table>
    </div>

    <div id="message">

      <% if (options.displaySidenote) { %><span class="highlight"><%= options.sidenote %></span><% } %> 
      <br><br>
      <%= options.message %>
     

    </div>
    
  </body>

</html>